.landing{
    width: 100%;
    position: relative;
    background-color: rgba(153, 253, 255, 0.64);
    background: url("http://diysolarpanelsv.com/images/christmas-tree-forest-clipart-23.jpg") center no-repeat;    
    background-size: cover;
}
.landing #phone_img{
    height: 646px;
    z-index: 1;
    margin-left: -65px;
    position: relative;
}
.landing .header{
    height: 75px;
    width: 100%;
    background: #ED0026;
}
.header .ham{
    background: url(https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-512.png) center no-repeat;
    background-size: cover;
    height: 50px;
    width: 50px;
    position: absolute;
    left: 15px; 
    top: 10px;
    filter: invert();
}
.ham:hover{
    cursor: pointer;
}
.tracks{
    background: url(http://www.totalpunishmentgaming.com/D&DTokens/scenery/animaltracks.png) center no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    filter: invert();
}
#landing_content_holder{
    height: 746px;
    width: 400px;
    /* border: 1px dotted lime; */
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
#landing_content{
    height: 469px;
    width: 267px;
    position: absolute;
    top: 93px;
    left: 36px;
    z-index: 10;
}
#profile{
    height: 90px;
    width: 90px;
    position: absolute;
    border-radius: 50%;
    background: url(https://openclipart.org/image/2400px/svg_to_png/247324/abstract-user-flat-1.png) center no-repeat;
    background-size: cover;
    top: 100px;
    right: 15px;
}
#new_track{
    height: 50px;
    line-height: 50px;    
    color: white;
    width: 125px;
    margin-top: 47px;
    margin-left: 15px;
    background: #FA9D00;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
}
#new_track:hover{
    cursor: pointer;
}
#profile:hover{
    cursor: pointer;
}
#logo:hover{
    filter: invert();
    cursor: pointer;
}